.btn-edit {
    background-color: #ff9800;
    color: white;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}
.btn-edit:hover {
    background-color: #e68900;
}

.btn-delete {
    background-color: #d9534f;
    color: white;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #c9302c;
}
